@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #f0eff5;
  --bk-color: #15141a;
}

body {
  color: var(--color);
  background: var(--bk-color);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
